<h1>Torino Traffic</h1>

A data visualization made with Bokeh, representing the amount of traffic flow in different days and hours, as recorded by a number of detectors scattered in Torino.

<hr/>

Data source: UTD19 (utd19.ethz.ch), https://www.nature.com/articles/s41598-019-51539-5 (see UTD.ipynb).

<iframe src="img/torino_daytime_flow.html" width="100%" height="100%"></iframe>
